# Python
__pycache__/
*.py[cod]
*.pyo
.Python
.venv/
venv/
env/
.env
.env.*

# Django
db.sqlite3
db.sqlite3-journal
*.log
media/

# IDE / OS
.idea/
.vs/
.vscode/
*.swp
.DS_Store
Thumbs.db
staticfiles/
