{% extends "BrotherEDGAR_base.html" %}

{% block title %}EDGAR Search Page{% endblock %}

{% block bodyClass %}searchPage{% endblock %}

{% block content %}

<h1>ACCESS to EDGAR's Database</h1>
<p><strong>EDGAR—The Electronic Data Gathering, Analysis, and Retrieval system</strong>
    is a database system used by the SEC that requires all public companies and certain individuals to
    submit required, time-sensitive documents to the U.S. Securities and Exchange Commission.<br>

    The database is a trove of information regarding public companies, their financials, quarterly filings, and more
    and the filings of their insiders when they buy and sell stock.
    The database is available online, to anyone with access to the Internet.</p>
<P> <strong>VISIT:</strong>  <a href=" https://www.sec.gov/edgar/search/" target="_blank"> EDGAR Search Page</a></P>


{% endblock %}
